
.kaufman {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #1f1f1f;
 padding: 90px 0;
 position: relative;
 overflow: hidden;
}
.section-title_theme_dark {
  color: white;
}
.section-subtitle_theme_dark {
  color: white;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: 0;
  width: 877px;
  height: 877px;
}
.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  display: flex;
  min-height: 350px;
  justify-content: center;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  padding: 18px 0;
  margin: 0;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
}
.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px;
}
.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 0 0 16px;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  list-style: none;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

